*{
    padding: 0;
    margin: 0;
}

header{
    /*background-color: rgba(35,28,26,0.8);*/
    background-color:#2b2b2b;
    height: 70px;
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */

    font-family: Times New Roman;
}

header ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li{
    /*display:inline;
    margin-right: 4vw;*/
    margin: 0 50px;
    font-size: 18px;
}

header a{
    color:white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.home{
    background-color: antiquewhite;
    color: white;
    min-height: calc(110vh - 70px);
    background-image: url(image/S__14950404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: fantasy;
}

.home img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.home h2{
    font-size: 60px;
    margin-top: 60px;
}

.home p{
    color: #fef7e6;
    font-size: 18px;
    margin: 25px 0;
    white-space: pre-line;
}

.home a{
    color: gray;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding: 10px 20px;
    border-radius: 5px;
}

.sideProject{
    display: flex;
    background-color: #dacd9c;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
    min-height: calc(100vh - 60px);
    
    /* origin slogan
    background-color: #485652;
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em; 
    */
}

.sideProject div{
    width: 300px;
    text-align: center;
}

.sideProject image{
    width: 100%;
    height: auto;
    border-radius: 10px;;
}

.sideProject h3{
    font-size: 25px;
    margin: 20px 0;
}

.sideProject p{
    font-size: 16px;
    line-height: 1.6em;
}

footer{
    background-color: #000000;
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.selfintro{
    display: flex;
    min-height: calc(105vh - 70px);
    align-items: center; /* 垂直居中 */
    padding: 20px;
    flex-direction: row;
}

#main_education_div {
    margin-left: 0%;
    margin-top: 20%;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.about_section_div{
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-width: 5px;
    border-radius: 10px;
    margin-top: 7%;
    border-radius: 0.8rem;
    box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* 添加左边距 */
}

.selfintro img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}

#info{
    /*width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    margin-right: 5%;
    width: 55%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.info{
    
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.about_into_title{
    font-size: 30px;
    color: rgb(18, 62, 123);
    
}

.main_education_div{
    width: 98%;
    height: 35%;
    margin-left: 2%;
    margin-top: 0%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: green;*/
}

.main_school_div{
    height: 40%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.school {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.about_section_word {
    color: black;
}

.school h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.school, .education_period {
    font-size: 20px;
    margin: 0;
}

.newsletter{
    background-color: #485652;
    color: white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter p{
    margin-bottom: 20px;
}

.newsletter input, .newsletter button{
    background-color: transparent;
    color: white;
    border: 1px solid #949d9a;
    padding: 10px;
    border-radius: 5px;
}

.newsletter input{
    width: 200px;
    margin-right: 15px;
}

.newsletter button{
    width: 80px;
    cursor: pointer;
}

input::placeholder{
    color: #dddddd;
}

input:focus{
    outline: none;
    border-color: #e0e9a3;
}

.menu{
    display: none;
}

/* 響應式設計語法 */
@media screen and (max-width: 768px){
    header ul{
        display: none;
    }
    
    header h1{
        left: 50%;
        transform: translateX(-50%);
    }

    .selfintro h2{
        font-size: 40px;
    }

    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

    .others{
        flex-direction: column;
    }

    .others img{
        width: 100%;
    }

    .sideProject {
        flex-direction: column;
        padding: 60px 0;
        
    }

    .sideProject div{
        margin-bottom: 30px;
    }

    .info {
        width: 100%;
        padding: 40px 0;
    }

    .info h2{
        font-size: 30px;
    }

    .language{
        flex-direction: column;
        padding: 60px 0;
    }
    
    .language div{
        margin-bottom: 30px;
    }
}